:root {
  --blue: 205, 231, 236;
  --navy: 82, 97, 117;
  --dark-navy: 61, 73, 87;
  --purple: 110, 97, 153;
  --gold: 186, 151, 87;
  --gray: 243, 243, 236;
  --light-gray: 244, 244, 233;
}

html {
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: rgb(var(--navy));
}

.header {
  height: calc(100vh - 50px);
  background-color: rgb(var(--navy));
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  font-family: "Bebas Neue", cursive;
  text-transform: lowercase;
  font-size: 3em;
  letter-spacing: 0.15em;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
  color: rgb(var(--light-gray));
}

.icons {
  overflow: hidden;
  margin: 50px 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.links {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.links::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(var(--navy));
  opacity: 0;
}

.links:hover::after {
  opacity: 0.3;
  transition: opacity 300ms;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  list-style: none;
  padding: 0 20px;
}

.skills {
  background-color: rgb(var(--gray));
}

.languages {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.languages__logo {
  width: 150px;
  height: 150px;
  margin: 20px;
  flex: 0 0 auto;
}

.work-history {
  background-color: rgb(var(--purple));
  padding: 80px 0;
  position: relative;
}

.timeline {
  position: relative;
}

/* timeline line */
.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: rgb(var(--gray));
  background: linear-gradient(
    -180deg,
    rgba(var(--gray), 0) 0%,
    rgba(var(--gray), 0.5) 10%,
    rgba(var(--gray), 0.5) 90%,
    rgba(var(--gray), 0) 100%
  );
  top: -50px;
  bottom: 0;
  left: 2px;
  margin-left: -2px;
  height: calc(100% + 100px);
}

/* timeline card container */
.timeline__container {
  position: relative;
  background-color: inherit;
  height: 200px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-right: 0;
  left: 0;
}

/* timeline circles */
.timeline__container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -26px;
  background-color: rgb(var(--gray));
  top: 21px;
  border-radius: 50%;
  z-index: 1;
}

/* timeline card arrows */
.timeline__container::before {
  content: " ";
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(var(--gray)) transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
}

/* timeline card */
.timeline__card {
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: rgb(var(--gray));
  position: relative;
  border-radius: 2px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.timeline__card--text {
  flex: 1 1 auto;
}

.timeline__card--text p:first-child {
  font-size: 1.5em;
  font-weight: 600;
}

.timeline__card--text p:nth-child(2) {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 5px;
}

.timeline__card--text p:last-child {
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 20px;
}

.timeline__card--logo {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  flex: 0 0 auto;
}

@media screen and (min-width: 800px) {
  .work-history {
    padding: 100px 0;
  }

  /* Fix funnel sizing & positioning */
  .work-history::before {
    left: unset;
    right: calc(50% - 50px);
    border-width: 50px 50px 50px 50px;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 50%;
  }

  /* Adjust timeline container sizing */
  .timeline__container {
    width: 50%;
    padding: 10px 40px;
  }

  /* Put even containers on the right */
  .timeline__container:nth-child(even) {
    left: 50%;
  }

  /* Position right arrows correctly */
  .timeline__container:nth-child(even)::before {
    left: 30px;
  }

  /* Make left arrows behave correctly */
  .timeline__container:nth-child(odd)::before {
    left: unset;
    right: 30px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(var(--light-gray));
  }

  /* Position left circles correctly */
  .timeline__container:nth-child(odd)::after {
    left: unset;
    right: -8px;
  }

  /* Position right circles correctly */
  .timeline__container:nth-child(even)::after {
    left: -8px;
  }

  .timeline__card {
    padding: 20px 30px;
  }

  .timeline__card--logo {
    height: 100px;
    width: 100px;
  }
}

.footer {
  height: 70px;
  background-color: rgb(var(--blue));
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: rgb(var(--dark-navy));
  font-weight: 600;
  letter-spacing: 0.1em;
}
