/*
colosr:
blue: 65, 64, 76
terracotta: 255, 135, 122
*/

html {
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.header {
  height: 100vh;
  background-color: rgba(65, 64, 76, 1);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 150px), 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 150px), 0 100%);
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.title {
  font-family: "Bebas Neue", cursive;
  text-transform: lowercase;
  font-size: 3em;
  letter-spacing: 0.15em;
  text-align: center;
  font-weight: 400;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
}

.icons {
  height: 50px;
  overflow: hidden;
  margin: 50px 0 auto;
  text-align: center;
}

.icons svg {
  height: 100%;
  display: inline-block;
  width: 50px;
  margin: 0 10px;
}

.content {
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.skills {
  height: 700px;
  background-color: rgb(255, 135, 122);
  margin-top: -150px;
  clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 calc(100% - 150px));
  -webkit-clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 calc(100% - 150px));
}

.company-logo {
  height: 100px;
}
